<header>
  <div class="hero">
    <section class="layout">
      <div class="branding">
        <a href="/">
          <img src="/images/misc/rouxacademymeetups.svg" alt="Roux Academy Logo">
        </a>
      </div><!-- branding -->
    </section><!-- layout -->
  </div><!-- hero -->

  <div class="navigation">
    <section class="layout">
      <ul class="nav">
        <li><a href="/"><i class="icon-home"></i> Home</a></li>
        <li><a href="/quadcopters"><i class="icon-fighter-jet"></i> Quadcopters</a></li>
        <li><a href="/"><i class="icon-user"></i> Routes</a></li>
        <li><a href="/"><i class="icon-edit"></i> Register Drone</a></li>
      </ul><!-- nav -->

    </section><!-- layout -->
  </div><!-- navigation -->
</header>