<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
    
  	<section class="layout">
      <div class="primary">
        
      <p>This is my first web site using nodeJS and express JS</p>

      </div><!-- primary -->
      <aside class="secondary">
        
      </aside><!-- secondary -->
    </section><!-- layout -->

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
